.flip-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  cursor: pointer;
}

.flip-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  /* border: white solid 1px; */
  /* border-radius: 0.25rem; */
}

.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  transform: rotateY(180deg);
  /* border: white solid 1px; */
  /* border-radius: 0.25rem; */
}

.flipCardMethod {
  transform: rotateY(180deg);
}

.flip-card-outer {
  width: 100%;
  height: 10rem;
}
