/* Landing Page */
.landing {
  position: relative;
  background: url("../img/picture2.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 90vh;
  display: flex;
  justify-content: center;
}

.LandingWhiteTxt {
  color: #fff;
}

/* @media (max-height: 800px) {
  .landing {
    height:800px !important;
  }
} */

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.landing-inner {
  /* padding-bottom: 1.5rem; */
  color: #fff;
  /* height: 100%; */
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-inner .btn {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

/* hsk table styles */
.list-group-item.activeHSK,
.list-group-item.activeHSK a {
  color: #fff;
  text-decoration: none;
  background-color: #2c3e50;
}

.list-group-item-action .badge {
  line-height: 1.5;
}

/* pinyin table styles */

#table-pinjin td,
#table-pinjin th {
  padding: 5px;
  font-size: 12px;
  text-align: center;
}

.table-bordered {
  border: 0;
}

.highlighted {
  color: #fff;
  background-color: #75caeb;
}

.highlightedItem {
  color: #fff;
  background-color: #158cba;
  font-weight: bolder;
}

.pinyinTippy {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  padding-left: 0;
}

.pinyinTippy .btn {
  text-transform: lowercase !important;
  font-size: 1rem;
  margin: 2px;
}

.pinjin-toggler {
  cursor: pointer;
}

.tippyTooltips:hover {
  background-color: var(--info);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

.tippySelected {
  background-color: var(--green);
  color: #fff;
  border-radius: 4px;
}

.result {
  font-size: 1.5rem;
}

.result-sm {
  font-size: 1.26em;
}

.result-bg {
  font-size: 2em;
}

.textPadding {
  padding: 8px;
  margin-bottom: 0;
}

.paragraphNum {
  padding-right: 4px;
  color: grey;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  right: 0;
}

.paragraphToRead {
  padding-right: 4px;
  position: absolute;
  z-index: 1;
  font-size: 16px;
  right: 0;
  bottom: 0;
}

.paragraph-plus {
  color: var(--info);
}

.paragraph-minus {
  color: var(--red);
}

.alreadyRead {
  /* background-color: rgba(152, 153, 153, 0.2); */
  background-color: var(--light);
}

.tippyPinyin {
  font-size: 1.6em;
  /* background-color: #149a80; */
  /* padding: 0.2rem; */
  width: 100%;
  border-radius: 5px;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  /* text-align: center */
}

#audio,
.questions {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#audio,
.input-group {
  margin-bottom: 1rem;
}

#audio,
.input-group button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

#translation,
.input-group .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

/* .tippyPinyin .btn-info {
  float: right;
  margin-left: 0.2rem;
} */

.tippyTranslation .btn-warning {
  /* float: right; */
  margin-top: 0.3rem;
}

.tippyParagraph {
  display: block;
}

.tippyBold {
  /* display: block; */
  font-weight: bold;
}

.tippyColor {
  color: rgb(49, 136, 49);
}

.tippyItalic {
  font-style: italic;
}

.tippyExample {
  display: block;
  /* color: rgb(138, 132, 132); */
}

.tippyExs {
  display: none;
}

.tippyExsShow {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: var(--gray);
}

.dictPinyin {
  color: var(--info);
  font-size: 1.2rem;
}

.dictPinyin .fa-play {
  opacity: 0.7;
}

.dictPinyin .fa-play:hover {
  opacity: 1;
  cursor: pointer;
}

/* #showMoreButton {
  float: right;
} */

[data-class="black"] {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.cardImageStyle {
  width: 100%;
  border-radius: 0.2rem 0.2rem 0 0;
}

.loginNavbar {
  border-top: 1px solid #18bc9c;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}

@media (min-width: 992px) {
  .loginNavbar {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  h1,
  .h1 {
    font-size: 2rem;
  }
  h2,
  .h2 {
    font-size: 1.7rem;
  }
  h3,
  .h3 {
    font-size: 1.3rem;
  }
  h4,
  .h4 {
    font-size: 1.1rem;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 2rem;
  }
  h2,
  .h2 {
    font-size: 1.7rem;
  }
  h3,
  .h3 {
    font-size: 1.3rem;
  }
  h4,
  .h4 {
    font-size: 1.1rem;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
  h2,
  .h2 {
    font-size: 2rem;
  }
  h3,
  .h3 {
    font-size: 1.8rem;
  }
  h4,
  .h4 {
    font-size: 1.20625rem;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 3rem;
  }
  h2,
  .h2 {
    font-size: 2.5rem;
  }
  h3,
  .h3 {
    font-size: 2rem;
  }
  h4,
  .h4 {
    font-size: 1.40625rem;
  }
}

.textGoal {
  position: relative;
  padding-top: 0.15rem;
}

#changeGoalButton {
  position: absolute;
  right: 0;
  top: 0;
}

.box,
.box1,
.box2,
.box3 {
  display: none;
  position: absolute;
  border-radius: 50%;
  background-color: var(--success);
  z-index: 100;
}

.box {
  width: 14rem;
  height: 14rem;
}

.box1 {
  width: 12rem;
  height: 12rem;
}

.box2 {
  width: 10rem;
  height: 10rem;
}

.box3 {
  width: 8rem;
  height: 8rem;
}

/*/ KANBAN */

.kanban {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.kanban h5 {
  color: var(--white);
}

.kanbanCol {
  padding: 3px;
}

.kanbanCol .toast-header {
  color: var(--primary);
}

.greenKanban {
  background-color: var(--success);
}

.blueKanban {
  background-color: var(--info);
}

.orangeKanban {
  background-color: var(--warning);
}

.greyKanban {
  background-color: var(--gray);
}

.extra-smtext {
  font-size: 1.1rem;
}

.text-stars .text-muted {
  opacity: 0.4;
}

.alreadyReadMark {
  position: absolute;
  bottom: 0;
  right: 0.6rem;
  /* margin-top: -0.5rem; */
  z-index: 1000;
}

.alreadyReadCard {
  background-color: #ecf0f1;
}

@media (max-width: 768px) {
  .alreadyReadMark {
    font-size: 2rem;
  }
}

.custom-control-input:focus ~ .custom-control-label::before {
  /* when the button is toggled off  
it is still in focus and a violet border will appear */
  border-color: var(--success) !important;
  /* box shadow is blue by default 
but we do not want any shadow hence we have set  
all the values as 0 */
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}

/*sets the background color of 
switch to violet when it is checked*/
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--success) !important;
  background-color: var(--success) !important;
}

/*sets the background color of 
switch to violet when it is active*/
.custom-control-input:active ~ .custom-control-label::before {
  background-color: var(--success) !important;
  border-color: var(--success) !important;
}

/*sets the border color of switch 
to violet when it is not checked*/
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: var(--success) !important;
}

.mentionsCircle {
  position: absolute;
  top: -5px;
  right: -3px;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  z-index: 10;
}

.mentionsCircleLink {
  height: 10px;
  width: 10px;
  background-color: var(--danger);
  border-radius: 50%;
  display: inline-block;
}

.alertDiv {
  position: fixed;
  top: 6rem;
  right: 2rem;
  z-index: 100;
  max-width: 20rem;
}

.commentIdNum {
  padding-right: 4px;
  color: grey;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  right: 0;
  top: 0;
}

/* .commentP {
  color: #212529;
} */

.emotippy-box {
  max-width: 140px !important;
}

#myFooter {
  /* margin-top:1rem; */
  background-color: #2c3e50;
  padding: 0.5rem;
  width: 100%;
}

#mainSection {
  min-height: 83vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.answerLine {
  height: 4px;
  position: absolute;
  border-radius: 20%;
}

.answerLineRed {
  background-color: var(--danger);
}

.answerLineGreen {
  background-color: var(--success);
}

.typing-img {
  height: 64px;
}

.questionColorDiv {
  height: 6px;
  width: 100%;
  margin: 0.5px;
  /* border-color: solid var(--primary);
  border-width: 1px 0px; */
}

.question-grey {
  background-color: var(--secondary);
}

.question-success {
  background-color: var(--success);
}

.question-danger {
  background-color: var(--danger);
}

.enter-icon {
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -moz-transform: rotate(90deg); /* Firefox */
  -ms-transform: rotate(90deg); /* IE 9 */
  -o-transform: rotate(90deg); /* Opera */
  transform: rotate(90deg);
}
