.highlighted {
  color: var(--bs-table-hover-color);
  background-color: var(--bs-table-hover-bg) !important;
}

#pinyinTable td:hover {
  color: var(--bs-danger);
}

/* .bs-popover-bottom > .popover-arrow::after,
.bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::after {
  border-bottom-color: var(--bs-primary);
} */
