LOKI_URL=https://logs-prod-xxx.grafana.net/loki/api/v1/push
LOKI_USER=your_loki_user_id
LOKI_API_KEY=your_grafana_cloud_api_key

PROMETHEUS_URL=https://prometheus-prod-xxx.grafana.net/api/prom/push
PROMETHEUS_USER=your_prometheus_user_id
PROMETHEUS_API_KEY=your_grafana_cloud_api_key
