.flip-card {
  /* position: relative; */
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.flip-front {
  background-color: rgb(117, 112, 217);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  border: var(--primary) solid 1px;
  border-radius: 0.25rem;
}

.flip-back {
  background-color: rgb(36, 207, 79);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  transform: rotateY(180deg);
  border: var(--primary) solid 1px;
  border-radius: 0.25rem;
}

.flipCardMethod {
  transform: rotateY(180deg);
}

.flip-card-outer {
  width: 100%;
  height: 5rem;
}
