.bs-popover-bottom > .popover-arrow::after,
.bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::after {
  border-bottom-color: var(--bs-primary);
}

.tippyTooltips:hover {
  background-color: var(--bs-info);
  /* color: #fff; */
  border-radius: 4px;
  cursor: pointer;
  /* text-align: left; */
}

.tippySelected {
  background-color: var(--bs-green);
  /* color: #fff; */
  border-radius: 4px;
}

.tippyBold {
  /* display: block; */
  font-weight: bold;
}

.tippyColor {
  color: var(--bs-green);
}

.tippyItalic {
  font-style: italic;
}

.tippyExample {
  display: block;
}

.tippyExs {
  display: none;
}

.tippyExsShow {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: var(--bs-gray);
}
